@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital@1&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

/*Menu*/

#menu li > a{
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}

#menu form > button{
    font-size: 18px;
    font-weight: bold;
}

.carousel-inner {
    max-height: 39rem;
}

/*Media queries*/

@media (max-widt: 768px) {
    #intro #equipo {
        width: 90% !important;
    }
    .servicio-fila {
        width: 100% !important;
        text-align: center;
    }
}

@media (max-width: 576px) {
    .icono-warp {
        flex-wrap: wrap;
        justify-content: center !important;
    }
}